# Node modules
node_modules/


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/

# dotenv environment variables
.env
.env.local
.env.*.local

# IDEs and editors
.vscode/
.idea/
.DS_Store

# System files
Thumbs.db
